@model Calculator.Models.NumberViewModel
@{
    ViewData["Title"] = "Loaded";

}
<h1>
    Calculator
</h1> </hr>

<h3>The two numbers entered are <h1>@Model.Number1</h1> and <h1>@Model.Number2</h1></h3>

<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("addition", "Calculator")'"><i class="fa-solid fa-plus"></i></button>
<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("subtraction", "Calculator")'"><i class="fa-solid fa-minus"></i></button>
<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("multiplication", "Calculator")'"><i class="fa-solid fa-xmark"></i></button>
<button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("division", "Calculator")'"><i class="fa-solid fa-divide"></i></button>
